.st-panel{
	overflow: hidden;
}
#st-panel-1 .inner{
	width: 60%;overflow: hidden;
	margin: 150px auto;
}
#st-panel-1 .inner >div{
	display: inline-block;vertical-align: top;	
}
#st-panel-1 div.Ileft{
	width: 200px;
	height: 200px;
	margin-left: 5%;
	border-radius: 50%;
	overflow: hidden;
}
#st-panel-1 div.Ileft img{
	width: 100%;height: 200px;
}
#st-panel-1 div.Iright{
	width: 50%;margin-left: 15%;
}
#st-panel-1 div.Iright > ul li{
	height: 30px;line-height: 30px;color: white;
}
#st-panel-1 div.Iright > ul li >span a{
	color: white;
}

/*技能*/
#st-panel-2 .inner{
	width: 100%;margin-top: 200px;
	height: 230px;z-index: 50000;
}
#st-panel-2 .inner ul{
	padding: 0;margin: 0;
	overflow: hidden;
}
#st-panel-2 .inner ul li{
	width: 25%;
	height: 230px;display: inline-block;
	text-align: center;
}
#st-panel-2 .inner ul li canvas{
	margin: 0 auto;
}
#st-panel-2 .inner ul li p{
	text-align: center;font-size: 24px;
	color: #f60;width: 100%;
	height: 30px;line-height: 30px; 
	margin:0;padding: 0;
}
#st-panel-3 > ul,#st-panel-4 > ul,#st-panel-5 > h5{
	margin-top: 200px;color: white;
	padding: 0;
}
#st-panel-5 > h5{
	width: 50%;margin: 200px auto 0;
	line-height: 3;
}
#st-panel-3 > ul > li,#st-panel-4 > ul > li,#st-panel-5 > ul > li{
	width: 50%;margin: 0 auto;
	line-height: 3;
}
#st-panel-4 > ul > li{color: black;}
#st-panel-5 > ul > li > a{color: white;font-size: 16px;}
#st-panel-5{
	position: relative;
}
#st-panel-5 #img{
	box-sizing: border-box;
	width: 300px;height: 300px;padding: 10px 10px;
	background-color: white;
	position: absolute;top: 150px;
	left: 50%;margin-left: -150px;
	display: none;
}
#st-panel-5 #img.show{
	display: block;
}

#st-panel-5 #img > input{
	border:none;outline: none;
	text-indent: -1000px;display: inline-block;
	width: 30px;height: 30px;
	position: absolute;top: -15px;right: -15px;
	background: url('../img/close.png') no-repeat;
	background-size: 100% 100%;
}

/*音频*/
body > audio{
	display: none;
}
#control{
	outline: none;display: inline-block;border: none;
	position: fixed;
	top: 100px;right: 100px;
	width: 50px;height: 50px;
	background: url('../img/music.png') no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;text-indent: -1000px;	
}
#control.play{
	animation: 'rotating' 5s linear infinite;
	-webkit-animation: 'rotating' 5s linear infinite;
	-moz-animation: 'rotating' 5s linear infinite;
	-ms-animation: 'rotating' 5s linear infinite;
	-o-animation: 'rotating' 5s linear infinite;
}

@keyframes rotating {
	0%{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg); 
		-o-transform:rotate(360deg);
	}
   
}
@-webkit-keyframes rotating {
   0%{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg); 
		-o-transform:rotate(360deg);
	}
}
@-ms-keyframes rotating {
   0%{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg); 
		-o-transform:rotate(360deg);
	}
}
@-o-keyframes rotating {
   0%{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg); 
		-o-transform:rotate(360deg);
	}
}
@-moz-keyframes rotating {
   0%{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg); 
		-o-transform:rotate(360deg);
	}
}



@media screen and (max-width: 800px){
	#st-panel-2 .inner ul li{
		width: 50%;
		margin-top: 10px;
	}
	#st-panel-2 .inner{
		margin-top: 150px;
	}

}
@media screen and (max-width: 640px){
	#st-panel-1 .inner{
		margin-top: 200px !important;
	}
	#st-panel-2 .inner ul li{
		display: inline-block;width: 50%;height: 130px;
		margin: 0;
	}
	#st-panel-2 .inner{
		margin-top: 200px;
	}
	#st-panel-2 .inner ul li p{
		height: 20px;line-height: 20px;
		text-align: center;font-size: 16px;
	}
	#st-panel-3 ul{
		margin-top: 200px;overflow: hidden;
	}
	#st-panel-3 ul > li{
		font-size: 14px;line-height: 20px;
		width: 70%;
		margin-top: 10px;
	}

	#control{
		top: 50px;right: 50px;
		width: 25px;height: 25px;
	}
}
@media screen and (max-width: 320px){
	#st-panel-1 .inner{
		margin-top: 100px !important;
	}
	#st-panel-2 .inner ul li{
		display: inline-block;width: 50%;height: 130px;
		margin: 0;
	}
	#st-panel-2 .inner{
		margin-top: 150px;
	}
	#st-panel-2 .inner ul li p{
		height: 20px;line-height: 20px;
		text-align: center;font-size: 16px;
	}
	#st-panel-3 > ul,#st-panel-4 > ul,#st-panel-5 > h5{
		margin-top: 100px;
	}
}