*{
				margin:0;padding: 0;
				font-family: "Microsoft Yahei";
			}
			body{
				background-color: black;
				text-align: center;
			}
			ul{
				width: 200px;height: 200px;
				margin:50px auto;line-height: 0px;
			}
			li{
				list-style: none;
				display: inline-block;
				width: 10px;height: 10px;
				transition:  all .5s ease-in-out;
				-webkit-transition:  all .5s ease-in-out;
				-moz-transition:  all .5s ease-in-out;
				-ms-transition:  all .5s ease-in-out;
				-o-transition:  all .5s ease-in-out;				
			}
			#Told > li.move{
				transform: matrix(1, 0, 0, 1, 30, 30);
				background-color:rgb(99, 111, 221);
			}
			#Told > li{
				background-color:rgb(222, 98, 98);
			}
			/*scale*/
			#scale{
				width: 100px;height: 100px;
				background-color: #f60;
				margin: 20px auto 320px;
				transform-origin:  top left;
				-webkit-transform-origin:  top left;
				-moz-transform-origin:  top left;
				-ms-transform-origin:  top left;
				-o-transform-origin:  top left;
				transition:  all .5s ease-in-out;
				-webkit-transition:  all .5s ease-in-out;
				-moz-transition:  all .5s ease-in-out;
				-ms-transition:  all .5s ease-in-out;
				-o-transition:  all .5s ease-in-out;
			}
			input{
				display: inline-block;height: 30px;
				vertical-align: bottom;
				color: white;
			}
			input[type="button"]{
				outline: none;border:none;
				height: 30px;width: 60px;
				background-color: #26B0F3;
			}
			input[type="range"]{
				outline: none;border:none;
			}
			label{
				display: inline-block;height: 30px;
				color: white;
				line-height: 30px;vertical-align: bottom;
			}
			#rotate{
				width: 100px;
				height: 100px;
				background-color: #f60;
				margin: 10px auto;
				transition:  all .5s ease-in-out;
				-webkit-transition:  all .5s ease-in-out;
				-moz-transition:  all .5s ease-in-out;
				-ms-transition:  all .5s ease-in-out;
				-o-transition:  all .5s ease-in-out;
			}
			input[type="text"]{
				outline: none;border:none;
				background-color: rgba(255,255,255,.9);
				font-size: 16px;color: black;padding-left: 4px;
			}
			#skew{
				width: 100px;
				height: 100px;
				background-color:rgb(99, 111, 221);
				margin: 10px auto;
				transition:  all .5s ease-in-out;
				-webkit-transition:  all .5s ease-in-out;
				-moz-transition:  all .5s ease-in-out;
				-ms-transition:  all .5s ease-in-out;
				-o-transition:  all .5s ease-in-out;
			}