<!doctype html>
<html lang="zh-CN">
	<head>
		<title>单国力个人简介</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
	</head>
	<body id='body' v-on:resize='resize()'>
		<div class="container" id = 'container'>
			<div class="st-container">
				<!--nav begin-->
				<input type="radio" name="radio-set" checked="checked" id="st-control-1">
				<a href="#st-panel-1">简介</a>
				<input type="radio" name="radio-set"  id="st-control-2">
				<a href="#st-panel-2">技能</a>
				<input type="radio" name="radio-set"  id="st-control-3">
				<a href="#st-panel-3">期望</a>
				<input type="radio" name="radio-set"  id="st-control-4">
				<a href="#st-panel-4">联系方式</a>
				<input type="radio" name="radio-set"  id="st-control-5">
				<a href="#st-panel-5">more</a>
				<!--nav end content begin-->
				<div class="st-scroll">
					<section class="st-panel" id="st-panel-1">
						<div class="st-desc">
							<h2>简介</h2>
						</div>
						<div class="inner">
							<div class="Ileft">
								<img src="img/shanerH.jpg"/>
							</div><div class='Iright'>
								<ul>
									<li v-for="item in abortme">
										<span>{{item.key}}</span>
										<span>
											{{{item.value}}}
										</span>
									</li>
								</ul>
							</div>
						</div>
					</section>
					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-desc" ><h2>技能</h2></div>
						<div class="inner">	
							<ul>
								<li>
									<canvas height="200px" width="200px" id='canvas1'></canvas><p>js/jq</p>
								</li><li>
									<canvas height="200px" width="200px" id='canvas2'></canvas><p>html</p>
								</li><li>
									<canvas height="200px" width="200px" id='canvas3'>
									</canvas><p>css</p>
								</li><li>
									<canvas height="200px" width="200px" id='canvas4'>
									</canvas><p>vue</p>
								</li>
							</ul>
						</div>
					</section>
					<section class="st-panel" id="st-panel-3">
						<div class="st-desc" ><h2>期望</h2></div>
						<ul>
							<li>希望公司氛围好。和同事们一起工作生活和谐的办公环境一方面提高凝聚力也能提高工作效率。</li>
							<li>注重员工的成长。让每个员工在工作中成长对公司和员工个人都是件有意义有价值的事。</li>
							<li>加班。给个有说服力的理由就好。</li>
						</ul>

					</section>
					<section class="st-panel st-color" id="st-panel-4">
						<div class="st-desc" ><h2>联系方式</h2></div>
						<ul>
							<li v-on:click.stop='copy()' v-for='item in contact'><label>{{{item.way}}}：</label><label>{{item.data}}</label></li>
						</ul>
					</section>
					<section class="st-panel" id="st-panel-5">
						<div class="st-desc" ><h2>more</h2></div>
						<h5>项目列表：</h5>
						<ul>
							<li><a href="http://qmop.app.95dao.com/pc/" target='_blank'>全民偶拍</a></li>
							<li><a href="javascript:void(0)" target='_blank'>炎裔教育</a></li>
							<li><a href="javascript:void(0)" v-on:click="showImg('zhaojiling')">地推活动召集令</a></li>
						</ul>
						<div id='img' v-bind:class='{show:imgShow}'>
							<img v-bind:src="img.imgSrc">
							<input type='button' value='close' v-on:click.stop='closeImg()'/>
						</div>
					</section>
				</div>
			</div>
		</div>
		<input type="button" value='music' id='control' v-bind:class='{play:music.play,show:controlShow}' v-on:click='control()'/>
		<audio controls="controls" v-bind:src="music.src" v-on:canplay="play()">
			<source v-bind:src="music.src" type="audio/mp3">
		</audio>
		<script src='bower_components/requirejs/require.js' data-main='js/new_index.js'></script>
	</body>
</html>