@font-face{
	font-family: "raphaelicons";
	src:url('../fonts/raphaelicons-webfont.eot'),
	url('../fonts/raphaelicons-webfont.eot'),
	url('../fonts/raphaelicons-webfont.svg'),
	url('../fonts/raphaelicons-webfont.woff');
	font-weight: normal;
	font-style: normal;
}


/*常规布局*/
body{
	font-family: Georgia,serif;
	background-color: #ddd;
	font-size: 16px;
	font-weight:400; 
	color: #333;
	overflow: hidden;
	-webkit-font-smoothing:antialiased;
}

a{
	text-decoration: none;;
	color: #555;
}
.clear{
	width: 0;height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	clear: both;
}
.st-container{
	width: 100%;
	height: 100%;
	position: absolute;;
	left: 0;
	top: 0;
	font-family: "Josnfin Slab","Myriad Pro",Arial,sans-serif;
}
/*常规布局结束*/

/*等会儿再搞你*/
/*导航布局*/
.st-container > input{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	bottom: 0;
	cursor: pointer;
}
.st-container > a{
	width: 20%;
	height: 34px;
	line-height: 34px;
	position: fixed;
	bottom: 0;
}

.st-container > input{
	opacity: 0;
	z-index: 1000;
}
.st-container > a{
	z-index: 10;
	font-weight: 700;
	background-color: #e23a6e;
	text-align: center;
	color: #fff;
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
}
#st-control-2,#st-control-2 + a{
	left:20%; 
}
#st-control-3,#st-control-3 + a{
	left: 40%;
}
#st-control-4,#st-control-4 + a{
	left: 60%;
}
#st-control-5,#st-control-5 + a{
	left: 80%
}

.st-container > input:checked + a,.st-container > input:checked:hover + a{
	background-color: #821134;
}
.st-container > input:hover + a{
	background-color: #AD244F;
}
.st-container input:checked + a:after{
	content: "";
	width: 0;height: 0;overflow: hidden;
	border: 20px solid transparent;
	border-bottom-color: #821134;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -20px;
}

/*导航布局 end*/

/*页面切换 begin*/
.st-scroll,.st-panel{
	width: 100%;height: 100%;
	position: relative;
}
.st-scroll{
	left: 0;top: 0;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
	backface-visibilty:hidden;
}
.st-panel{
	background-color: #fff;
	overflow: hidden;
}
.st-color{
	background-color: #fa96b5;
}
.st-color .st-desc{
	background-color: #fff;
}
.st-color [data-icon]:after{
	color: #fa96b5;
}


#st-control-1:checked ~ .st-scroll{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-o-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%)
}
#st-control-2:checked ~ .st-scroll{
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%)
}
#st-control-3:checked ~ .st-scroll{
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	transform:translateY(-200%)
}
#st-control-4:checked ~ .st-scroll{
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	transform:translateY(-300%)
}
#st-control-5:checked ~ .st-scroll{
	-webkit-transform:translateY(-400%);
	-moz-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	transform:translateY(-400%)
}

/*页面切换 end*/

/*内部布局 beagin*/

.st-desc{
	width: 200px;height: 200px;
	background-color: #fa96b5;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -100px;
	-webkit-transform:translateY(-50%) rotate(45deg);
	-ms-transform:translateY(-50%) rotate(45deg);
	-moz-transform:translateY(-50%) rotate(45deg);
	-o-transform:translateY(-50%) rotate(45deg);
	transform:translateY(-50%) rotate(45deg);
}
[data-icon]:after{
	content: attr(data-icon);
	width: 200px;height: 200px;
	color: #fff;
	font-size: 90px;
	text-align: center;line-height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
	-webkit-transform: rotate(-45deg) translateY(25%);
	-ms-transform: rotate(-45deg) translateY(25%);
	-moz-transform: rotate(-45deg) translateY(25%);
	-o-transform:rotate(-45deg) translateY(25%);
	transform:rotate(-45deg) translateY(25%);
	font-family: 'raphaelicons';
}
.st-panel h2{
	color: #e23a6e;
	font-size: 54px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 30%;
	-webkit-backface-visibility:hidden;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation:movedown 0.6s ease-in-out 0.2s backwards;
	-ms-animation:movedown 0.6s ease-in-out 0.2s backwards;
	-o-animation:movedown 0.6s ease-in-out 0.2s backwards;
	-moz-animation:movedown 0.6s ease-in-out 0.2s backwards;
	animation:movedown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes movedown{
	0%{
		-webkit-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 1;
	}
}
@-moz-keyframes movedown{
	0%{
		-webkit-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 1;
	}
}
@-o-keyframes movedown{
	0%{
		-webkit-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 1;
	}
}
@-ms-keyframes movedown{
	0%{
		-webkit-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 1;
	}
}
@keyframes movedown{
	0%{
		-webkit-transform:translateY(-40px);
		-ms-transform:translateY(-40px);
		-o-transform:translateY(-40px);
		-moz-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 1;
	}
}
.st-panel p{
	position: absolute;
	left: 25%;
	width: 50%;
	top:50%;
	line-height: 22px;
	padding: 0;
	text-align: center;
	-webkit-backface-visibility:hidden;
	color: #8b8b8b;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation:moveup 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveup 0.6s ease-in-out 0.2s backwards;
	-o-animation:moveup 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveup 0.6s ease-in-out 0.2s backwards;
	animation:moveup 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveup{
	0%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(40px);
		-ms-transform:translateY(40px);
		-o-transform:translateY(40px);
		-moz-transform:translateY(40px);
		transform:translateY(40px);
		opacity: 1;
	}
}
@-moz-keyframes moveup{
	0%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(40px);
		-ms-transform:translateY(40px);
		-o-transform:translateY(40px);
		-moz-transform:translateY(40px);
		transform:translateY(40px);
		opacity: 1;
	}
}
@-o-keyframes moveup{
	0%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(40px);
		-ms-transform:translateY(40px);
		-o-transform:translateY(40px);
		-moz-transform:translateY(40px);
		transform:translateY(40px);
		opacity: 1;
	}
}
@-ms-keyframes moveup{
	0%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(40px);
		-ms-transform:translateY(40px);
		-o-transform:translateY(40px);
		-moz-transform:translateY(40px);
		transform:translateY(40px);
		opacity: 1;
	}
}
@keyframes moveup{
	0%{
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		-o-transform:translateY(0px);
		-moz-transform:translateY(0px);
		transform:translateY(0px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(40px);
		-ms-transform:translateY(40px);
		-o-transform:translateY(40px);
		-moz-transform:translateY(40px);
		transform:translateY(40px);
		opacity: 1;
	}
}

.st-color h2{
	color: #fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

.st-color p{
	color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 520px){
	.st-panel h2{font-size: 42px;}
	.st-panel p{
		width:90%;
		left: 5%;
		margin-top: 0;
	}
	.st-container a {font-size: 12px;}
}
@media screen and (max-width: 360px){
	.st-panel h2{font-size: 32px;}
	.st-panel p{
		width:90%;
		left: 5%;
		margin-top: 0;
	}
	.st-container a {font-size: 10px;}
	.st-desc{
		width: 100px;height: 100px;margin-left: -50px;
	}
	[data-icon]:after{
		font-size: 50px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform:rotate(-45deg) translateY(15%);
		transform:rotate(-45deg) translateY(15%);
	}
}