<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>侧边导航</title>
        <link rel="stylesheet" type="text/css" href="css/subnav.css">
        <script type="text/javascript" src="../../static/js/REM.min.js"></script>
    </head>
    <body id='app'>
    	<div class="body" v-el:mybody>
    		<ul class="big" v-cloak>
    			<li v-for="item in li">{{item}}</li>
    		</ul>
    		<ul class="right" v-bind:style="{lineHeight:rightLiLineHeight,fontSize:rightLiFontSize}" v-bind:class="{active:rightLiActive,activeColor:activeColor}" v-el:rightli v-cloak>
    			<li v-for="item in rightLi" >
                    <span v-bind:style="{width:rightLiSpan,height:rightLiSpan,lineHeight:rightLiSpan}" v-bind:class="{active:item.active}">{{item.text}}</span>
                </li>
    			<span v-el:showtext v-bind:style="{fontSize:rightShowTextSize}">{{rightShowText}}</span>                
    		</ul>
            <div class="keyboard" v-bind:class="{active:rightLiActive}" v-cloak>
                <ul>
                    <li v-for="item in rightLi" v-on:click="choose($index)" v-bind:style="{fontSize:rightShowTextSize}">{{item.text}}</li>
                </ul>
            </div>
    	</div>
        <script src='../../static/js/require.js' data-main='js/subnav.js'></script>
    </body>
</html>