html,body{
	font-family: "Microsoft Yahei";
}
.body{
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	background-color: #f5f5f5;
}

section.header{
	height: 4rem;
	background-color: #f60;
}
section.details{
	padding:0 0.4rem;
}
section.details >p{
	line-height: 1rem;
}
section.details >p.title{
	font-size: 0.68rem;
	color: #cccccc;
}
section.details >p.price{

}
section.details >p.price > span{
	height: 1rem;display: inline-block;
	vertical-align: middle;
	font-size: 0.68rem;
}
section.details >p.price > span:nth-of-type(1){
	
}
section.details >p.price > span:nth-of-type(1)>label{
	text-decoration: line-through;
}